<%= form_with(model: courier, local: true) do |form| %>
  <% if @courier.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.errors_title') %></h2>

      <ul>
        <% @courier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name, class: "form-label mt-3" %>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :email, class: "form-label mt-3" %>
    <%= form.email_field :email, class: "form-control" %>

    <%= form.submit class: "btn btn-primary px-4 mt-3" %>
<% end %>