<h1><%= t('courier') %>: <%= @courier.name %></h1>
<h4><%= t('email') %>: <%= mail_to(@courier.email) %></h4>

<div>
  <%= link_to t('edit'), edit_courier_path(@courier) %>
  <%= link_to t('to_couriers_list'), couriers_path %>
</div>

<h2 class="mt-3"><%= t('packages4-').capitalize %></h2>
<% if @courier.packages.count > 0 %>
  <% @courier.packages.order(:id).each do |package| %>
    <p>
      <%= package.tracking_number %>,
      <%= package.delivery_status == true ? t('delivered') : t('not_delivered') %>
      <% if package.delivery_status == false %>
        <%= link_to t('mark_as_delivered'), courier_package_path(@courier, package), method: :patch, data: { confirm: t('delivered?') } %></p>
    <% end %>
  <% end %>
  <% else %>
    <%= t('no_packages') %>
<% end %>

<h2 class="mt-3"><%= t('add_new_package') %></h2>
<%= render "packages/form", courier: @courier, package: @courier.packages.build %>